<div class="mb-3 border-top border-secondary pt-3">
  <label class="text-white small fw-bold mb-1">Követendő Subreddit neve:</label>
  <div class="input-group input-group-sm">
    <span class="input-group-text border-0" style="background-color: #ff007f; color: white;">r/</span>
    <input type="text" name="config[subreddit_name]" value="<%= config&.subreddit_name %>" class="form-control bg-dark text-white border-secondary" placeholder="pl. hungary">
  </div>
</div>