<div class="container mt-4 mb-5">
  <div class="mb-4">
    <%= link_to "⬅ Vissza a szabályokhoz", server_server_rules_path(@guild_id), class: "btn btn-outline-secondary btn-sm mb-3" %>
    <h2 class="text-white fw-bold">⚙️ Szabály Szerkesztése: <%= @rule.name %></h2>
  </div>
  <%= render 'form', rule: @rule %>
</div>